* {
    font-family: Arial, Helvetica, sans-serif;
    
}
h1 {
    color: red;
    text-shadow: 1rem;
    text-decoration: dashed;
    text-rendering: geometricPrecision;
    text-anchor: middle;
    text-align: center;

    max-width: 100%;
    min-width: 10px;
    margin: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-block-end: 10px;

    padding: 10px;
    padding-left: 10px;


    word-wrap: break-worcd;
    

    white-space: normal;
    enable-background: 3px;

    user-select: none;
    opacity: 0.8;
    outline: ridge 10px deeppink;
    outline: dotted 10px black;

    object-fit: scale-down;
    order: inherit;

    orphans: inherit;

    position: sticky;

    background-position-y: center;

    padding-inline-end: 10px;

    align-items: center;

    animation: backwards;
    
    background: purple;

    animation: myAnimi 5s infinite;

}


div {
    width: auto;
    height: auto;
    position: relative;
    background: cyan;
    animation: myanimi 5s infinite;
}
@keyframes myanimi {
    form {top: 0px;}
    to {top: 200px;}
    
}
.sizeDiv {
    width: 200px;
    height: 200px;
    background-color: red;
    margin: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 200px;

    padding: 20px;
    padding-left: 20px;
    padding-right: 200px;

    outline: solid 4px pink;

    text-align: center;

}
#h {
    background: purple;
    outline: dashed 2px springgreen;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 60px;
    font-variant: small-caps;
    font-style: oblique;
    font-variant-caps: all-small-caps;
    font-display: inherit;
    font-weight: bolder;


}
table {
    border: 2px solid black;
    border-collapse: collapse;
}

th,
tr,
td {
    border: 2px solid black;
    border-collapse: collapse;
    border-bottom-left-radius: 10px solid pink;
    border-bottom: 2px solid blue;
    border-top: brown;
    border-color: cadetblue;

    border-left-color: chartreuse;
    border-right-color: orange;
    border-top-color: orchid;
    border-bottom-width: 5px;

    padding: 3px;
    margin: 3px;
}

/* Decendence Selector */

ul li {
    color: cyan;
}

/* Child Selectore */

ul > li {
    color: springgreen;
}

/* Attribute Selector */

a[href="https://lsoys.in"] {
    color: purple;
}



button {
    width: 100px;
    height: 60px;
    background-color: cyan;

}

/* Hover Effect */
button:hover {
    background-color: purple;
}

/* Using Flex And Flexbox We Can Make More Responsive Webpages */

#main {
    display: flex;
    flex-wrap: wrap;
}

#test {
    width: auto;
    height: auto;
    background-color: lightgreen;
    margin: 20px;
    padding: 20px;
    font-size: 20px;
}